/* imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');:root{
    --range-filled: rgb(200, 0, 0);
    --range-empty: rgb(220,210,210);
}

*{
    position: relative;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
}

body,html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

b {
    font-weight: 700;

}

/* menu */

.buttons{
    display: flex;
}

.buttons button{
    margin-top: 5px;
    margin-left: 5px;
    background: white;
    border: 2px solid rgb(200,200,200);
    border-radius: 50px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.buttons button:hover{
    background: rgb(235,235,235);
}

.buttons button:active{
    opacity:0.7;
}

.buttons #numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 8px;
    font-size: 1.35rem;
}



/* audio controls */

.track-info-controls-description{
    padding-top: 5px;
    padding-left: 5px;
}

.track-info-controls{
    display: flex;
}

#analyzer{
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.track-info-controls b{
    text-align: center;
    display: block;
}

.audio-controls{
    display: flex;
}

.audio-control-group{
    border: 2px solid rgb(200,200,200);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}



/* channel */


.track-name{
    font-size: 1rem !important;
    margin: 4px 0;
    width: 100%;
    overflow-x: scroll;
}

.audio-control-group.channel{
    position: absolute;
    width: 140px;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    padding: 0rem 0.5rem;
    border-left: 2px solid rgb(200,200,200);
    background: rgb(235,235,235);
}

.audio-control-group input[type="range"]{
    width: 100%;
}


.audio-control-group.channel > *{
    font-size: 0.7rem;   
}

.audio-control-group.channel b{
    text-align: center;
    display: block;
}

.audio-control-group ul{
    padding: 0.75rem;

}

.audio-control-group li{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* timeline */

#timeline{
    width: 100%;
    height: 1.5rem;
    /* border-top: 1px dashed black; */
    cursor: crosshair;
}

#cursor{
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 100%;
    top: 0;
    left: -1px;
    background: rgb(80, 153, 255);
}
#cursor::after{
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 6px;
    height: 2px;
    background: rgb(80, 153, 255);
}
#cursor::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 6px;
    height: 2px;
    background: rgb(80, 153, 255);
}

/* tracks */

#tracks{
    border: 2px solid rgb(200,200,200);
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 108px;}

#tracks .track{
    border-bottom: 2px dotted black;
    min-height: 108px;
}

#tracks .track:first-of-type{
    border-top: 2px dotted black;
}

#tracks canvas{
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 10px;
    border: 3px solid var(--range-filled);
    box-sizing: border-box;
}

.track-wrapper{
    display: inline-block;
    height: 100px;
}
.track-wrapper::after{
    content: attr(data-name);
    position: absolute;
    left: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.35);
    color: white;
    padding: 0.2rem 0.4rem;
    width: max-content;
    line-break: auto;
    max-width: calc(100% - 30px);
}

#tracks canvas.selected{
    opacity: 0.5;
    box-shadow: 0px 0px 3px 3px rgba(164, 16, 16, 0.839);
}

#tracks canvas:active,#tracks canvas:focus{
    cursor: pointer;
}

/* utils */

.center{
    text-align: center;
}

/* custom range input */

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(90deg,
         var(--range-filled) 0%, 
         var(--range-filled) 50%, 
         var(--range-empty) 50%,
        var(--range-empty) 100%
    );
    margin-top: 7px;
    cursor: ew-resize;
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background: rgb(235, 235, 235);
    cursor: ew-resize;
    box-shadow: 0 0 3px 1px black;
    transition: 0.2s;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background: rgb(235, 235, 235);
    cursor: ew-resize;
    box-shadow: 0 0 3px 1px black;
    transition: 0.2s;
  }


  
  input[type="range"]:hover input[type="range"]::-webkit-slider-thumb {
    transform: scale(1.5);
  }
  
  input[type="range"]:hover::-moz-range-thumb {
     transform: scale(1.5);
  }
  
  input[type="range"]:hover input[type="range"]::-ms-thumb {
     transform: scale(1.5);
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

/* button checkbox */

.gain-pan-container .audio-control{
    display: flex;
}

.gain-pan-container .audio-control div{
    min-width: 30px;
    margin-top: 6px;
}
.mute-solo-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.record-enable::after{
    content: "";
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: var(--range-filled);
    top: 50%;
    left: 50%;
}
.btn-checkbox,.mute-btn{
    display: flex;
    background: white;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid rgb(200,200,200);
}
.mute-btn[muted="true"]{
    background: rgba(160,160,160,0.7);
    border: 2px solid rgba(160,160,160,0.7);
}

.btn-checkbox:hover,.mute-btn:hover{
    opacity: 0.7;
    box-shadow: 0px 0px 3px 1px rgba(128, 128, 128, 0.7);
}

.btn-checkbox:active,.mute-btn:active{
    opacity: 0.5;
}
.mute-btn{
    cursor: pointer;
    padding: 2px;
}
input[type="checkbox"]:checked + label > .btn-checkbox{
    background: blue; 
    color: white;
    border: currentColor;
}
input[type="checkbox"]:checked + label > .btn-checkbox.mute{
    background: rgb(231, 208, 0);
}
input[type="checkbox"]:checked + label > .btn-checkbox.solo{
    background: rgb(231, 208, 0);
    color: black;
}
input[type="checkbox"]:checked + label > .btn-checkbox.record-enable{
    background: var(--range-filled);
}
input[type="checkbox"]:checked + label > .btn-checkbox.record-enable::after{
    background: rgb(255, 63, 63);
}
