/* imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');:root{
    --range-filled: rgb(200, 0, 0);
    --range-empty: rgb(201, 187, 187);
    --above-all: 1000;
    --medium-red: rgb(150,0,0);
}

*{
    position: relative;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
}

body,html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

b {
    font-weight: 700;
    &[contenteditable="true"]{
        background: white;
        color: blue;
    }
}

/* menu */

.buttons{
    display: flex;
    #numbers{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 8px;
        font-size: 1.35rem;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.25rem
    }
    object{
        width: 1.25rem;
        pointer-events: none;
    }
}

.buttons button,.button{
    margin-top: 5px;
    margin-left: 5px;
    background: white;
    border: 2px solid rgb(200,200,200);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    transition: 0.1s;
    cursor: pointer;
}

.buttons button:hover,.button:hover{
    background: rgb(235,235,235);
}

.buttons button:active,.button:active{
    opacity:0.7;
}
