/* timeline */

#timeline-and-tracks{
    overflow-x: hidden;
    .popover {
        position: fixed;
        width: 4.25rem;
        height: 1.25rem;
        border-radius: 2px;
        background: rgb(243, 241, 234);
        box-shadow: 2px 2px 5px rgba(0,0,0,.35);
        transform: translateX(-50%);
        top: 2rem;
        left: 0px;
        z-index: 10;
        font-size: 10px;
        text-align: center;
        display: none;
        &::after{
            content: "";
            position: absolute;
            left: calc(50% - 5px);
            top: 100%;
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 7px solid rgb(243, 241, 234);

        }
    }
}

#timeline {
    width: 100%;
    height: 1.5rem;
    position: relative;
    cursor: crosshair;


}
  

#cursor{
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 100%;
    bottom: 0;
    left: -1px;
    background: rgb(80, 153, 255);
}
#cursor::after{
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 6px;
    height: 2px;
    background: rgb(80, 153, 255);
}
#cursor::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 6px;
    height: 2px;
    background: rgb(80, 153, 255);
}