

@import "_base";
@import "_tracks";
@import "_timeline";
@import "_inputs";
@import "_audio-controls";

/* utils */

.center{
    text-align: center;
}

/* popover-container */

#popover-root{
    width: 0px;
    height: 0px;
}

.popover-container{
    position: fixed;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: var(--above-all);
    min-width: 200px;
    text-align: center;
    box-shadow: 3px 3px 8px rgba(0,0,0,.25);
    padding: 0.5rem 1rem;
}

.popover-container h2{  
    margin: 0.5rem;
    padding: 0;
}

.popover-container p{
    margin: 0;
    padding: 0;
}

/* button checkbox */

.gain-pan-container .audio-control{
    display: flex;
}

.gain-pan-container .audio-control div{
    min-width: 30px;
    margin-top: 6px;
}
.mute-solo-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.record-enable::after{
    content: "";
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: var(--range-filled);
    top: 50%;
    left: 50%;
}
.btn-checkbox,.mute-btn{
    display: flex;
    background: white;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid rgb(200,200,200);
}
.mute-btn[muted="true"]{
    background: rgba(160,160,160,0.7);
    border: 2px solid rgba(160,160,160,0.7);
}

.btn-checkbox:hover,.mute-btn:hover{
    opacity: 0.7;
    box-shadow: 0px 0px 3px 1px rgba(128, 128, 128, 0.7);
}

.btn-checkbox:active,.mute-btn:active{
    opacity: 0.5;
}
.mute-btn{
    cursor: pointer;
    padding: 2px;
}
input[type="checkbox"]:checked + label > .btn-checkbox{
    background: blue; 
    color: white;
    border: currentColor;
}

.checked{
    background: rgb(231, 208, 0);
    color: black;
    border-color: rgb(196, 178, 16);
}

input[type="checkbox"]:checked + label > .btn-checkbox.solo{
    background: rgb(231, 208, 0);
    color: black;
}
input[type="checkbox"]:checked + label > .btn-checkbox.record-enable{
    animation: record-enable-blink 1s infinite;
}
input[type="checkbox"]:checked + label > .btn-checkbox.record-enable::after{
    background: rgb(255, 63, 63);
}

/* animation classes */

.fadeout { 
    animation: fadeout 0.25s forwards;
}

.fadein {
    animation: fadein 0.25s backwards;
}

/* loading dots */

.loading-dots {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    color: var(--range-filled);
  }
  
  .dot {
    animation:scaling 1s infinite;
    -webkit-animation:scaling 1s infinite; 
    width: 14px;
    height: 14px;
    background-color: var(--range-filled);
    display:inline-block;
    border-radius: 50% 50% 50% 50%;
    opacity:1;
  }
  .dot_two {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .dot_three {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .dot_four {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  /* all animations */
      
  @-webkit-keyframes scaling {
      75% { 
        -webkit-transform:  scale(0.8);
        opacity:0.4;
      }
  }
  
  @keyframes scaling {
      75% { 
        transform: scale(0.8);
        opacity:0.4;
      }
  }

@keyframes fadein {
    0%{
        opacity: 0;
        transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeout {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(2rem);
    }
}

@keyframes record-enable-blink{
    0%{
        background: var(--range-empty);
    }
    50%{
        background: var(--range-empty);
    }
    50%{
        background: var(--range-filled);
    }
    100%{
        background: var(--range-filled);
    }
    100%{
        background: var(--range-empty);
    }
}
